<body>
    <ul>
        <li><button class="open-button" onclick="logout()">Logout</button></li>
    </ul>
    <center>
    <h2>List of transactions</h2>   
    <h4>No.of transactions: <%=transactions.length%></h4> 
    <div class="container">
    <table border="1px" class="table table-hover">
        <thead>
        <tr>
            <th style="text-align:center">S.No</th>
            <th style="text-align:center">Amount</th>
            <th style="text-align:center">Deposited/Withdrawn</th>
            <th style="text-align:center">Date and time</th>
            </tr>
            </thead>
            <tbody>
            <% transactions.forEach(function(x,i){ %>
                <tr>
                    <td><%=i+1%></td>
                    <td><%=x.amt%></td>
                    <td><%=x.status%></td>
                    <td><%=x.date_time%></td>
                </tr>
            <%})%>
            </tbody>
    </table>
    </div>
    </center>
    <script>
        function logout(){
            localStorage.removeItem("token");
            window.location="/home";
        }
    </script>
    </body>